var new_comment = $("<%= escape_javascript(render(:partial => 2comment))%>").hide();
$('#comments').prepend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].resey();